.topview
  .topview__header
    %h1.topview__header__rogo
      = link_to image_tag 'NTAK_rogo01.png', class: "rogo"
    .topview__header__menu
      %ul.topview__header__menu__grp
        %li.topview__header__menu__grp__about
          = link_to 'about', "#", class:"topview__header__menu"
        %li.topview__header__menu__grp__search
          = link_to 'search',"#", class:"topview__header__menu"
        %li.topview__header__menu__grp__Login
          = link_to 'Login',"#", class:"topview__header__menu"
  = image_tag 'topview_back02.jpg', class:"picture"
  .topview__mid
    %p -WHICH'S  HOTTER?-
  .topview__mainmenu
